main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#t-on, #t-off{
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}